<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>KPIs - {{ seller_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>KPIs - {{ seller_id }}</h1>
    <a href="/">🔙 Retour au dashboard</a>
    <ul>
        <li>Total Actives : {{ total_active }}</li>
        <li>Total Ended : {{ total_ended }}</li>
        <li>Prix moyen : {{ avg_price if avg_price else 'N/A' }} {{currency}}</li>
    </ul>
</body>
</html>
